.button-style{
  font-family : "Manrope" ; 
  max-width : 200px ; 
  padding : 16px 32px ; 
  background-color : white ;
  color : black; 
  border-style : none ; 
  font-size : 18px ; 
  border-radius : 12px; 
  font-weight : 700 ; 
  cursor : pointer ; 
}

