.page-two-container {
  width : 100% ; 
  min-height : 1080px ; 
  font-family : "Manrope" ; 
  display : flex ; 
  flex-direction : column ; 
  gap : 32px ; 
  background-color : 'red' , 
}

.page-two-text-container {
  font-family : "Manrope" ; 
  display : flex ; 
  flex-direction : column ; 
  gap : 16px ; 
  font-size : 96px ; 
}

